<html>
  <head>
    <title>Simple Social Bank</title>
    <style>
      .title {
        padding-top: 15px;
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <h2>Profile of <span id="name"><%= firstName %> <%= lastName %></span></h2>
    <div>
      <div class="title">Savings Amount</div>
      <div id="savings"><%= savings %></div>
      <div class="title">Description</div>
      <div id="description"><%- description %></div>
    </div>
    <form id="transfer">
      <h3>Fund Transfer to <%= firstName %> <%= lastName %></h3>
      <input id="amount" placeholder="input amount">
      <button>Give Money</button>
    </form>
    <script src="./index.js"></script>
  </body>
</html>
